<!DOCTYPE html>
{% load static %}
<html>
	<link rel="stylesheet" href="{% static 'myfirst.css' %}">
	<h1> {% block h1 %} {% endblock %} </h1>

	<h3> {% block links %} {% endblock%} </h3>
	<body>
		Enter the Unit Amount
		<input type='number' name='unit_amount'/>
		<br>
		<br>

		Unit to Convert from
		<select name='from_unit'>
			{% block fromUnit %}{% endblock %}
		</select>
		<br>
		<br>

		Unit to Convert to
		<select name='to_unit'>
			{% block toUnit %}{% endblock %}
		</select>
		
	</body>

	<footer>
		<button>Convert</button> 
	</footer>

</html>